.github-action[data-v-72b6be72]{font-size:12px}
.section-toast[data-v-2860783c]{width:100vw;height:100vh;background:rgba(0,0,0,.8);left:0;top:0}.section-toast .section-toast-btn[data-v-2860783c]{padding:15px 30px;border-radius:10px;color:#000;background:#fff;border:1px solid #eee}.print-btn[data-v-2860783c]{padding:10px 20px;border:1px solid #eee;border-radius:5px}

.make-it-pop {
      background: red;
}

.reveal[data-v-d544e678]{width:100vw;height:100vh}
