
.custom-not-find[data-v-57ef9acf]{
    font-size: 16px;
}

.load-vue-file[data-v-24670da2]{font-size:16px;width:400px}.content[data-v-24670da2]{padding:10px;border:1px solid #000;margin-bottom:10px}

.error-string[data-v-692c0adc]{
  background: red;
}

.load-string[data-v-224f6520]{width:550px;padding:10px;border:1px solid #000;font-size:16px;margin-bottom:20px}.content[data-v-224f6520]{padding:10px;border:1px solid #000;margin-bottom:10px}.textarea[data-v-224f6520]{padding:10px;width:500px;height:200px;resize:none}
.content[data-v-9209a9f4]{padding:10px;border:1px solid #000;margin-bottom:10px}.toggle-load[data-v-9209a9f4]{font-size:16px;padding:10px;border:1px solid #000}.content-input[data-v-9209a9f4]{padding:5px 10px;width:500px;height:100px;resize:none}
.content[data-v-0f81005c]{padding:10px;border:1px solid #000;margin-bottom:10px}.toggle-load[data-v-0f81005c]{font-size:16px;padding:10px;border:1px solid #000}.content-input[data-v-0f81005c]{padding:5px 10px;width:500px;height:100px;resize:none}
