html,body{
  padding: 0;
  margin: 0;
}
.absolute{
  position: absolute;
}
.flex{
  display: flex;
}

.flex-direction-row{
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row-reverse{
  flex-direction: row-reverse;
}

.align-items-center{
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between
}
.relative{
  position: relative;
}
.translateX-100{
  transform: translateX(-100%);
}
.translateX-0{
  transform: translateX(0);
}
.width-auto{
  width: auto!important;
}
.bg-white{
  background: #fff;
}
.cursor-pointer{
  cursor: pointer;
}
