html,body{
  padding: 0;
  margin: 0;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.translateX-100{
  transform: translateX(-100%);
}
.translateX-0{
  transform: translateX(0);
}
.width-auto{
  width: auto!important;
}
.bg-white{
  background: #fff;
}
.top0{
  top: 0;
}
