html,body{
  padding: 0;
  margin: 0;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-auto{
  overflow: auto;
}
.overflow-y-scroll{
  overflow: scroll;
}
.overflow-x-scroll{
  overflow: scroll;
}
.align-items-baseline{
  align-items: baseline;
}
.flex-1{
  flex:1;
}
.width100{
  width: 100%;
}
.height100{
  height: 100%;
}
.absolute{
  position: absolute;
}
.flex{
  display: flex;
}

.flex-direction-row{
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row-reverse{
  flex-direction: row-reverse;
}

.align-items-center{
  align-items: center;
}
.align-items-start{
  align-items: start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between
}
.justify-content-start{
  justify-content: start;
}
.relative{
  position: relative;
}
.translateX-100{
  transform: translateX(-100%);
}
.translateX-0{
  transform: translateX(0);
}
.width-auto{
  width: auto!important;
}
.bg-white{
  background: #fff;
}
.cursor-pointer{
  cursor: pointer;
}
.align-center{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.align-center-x{
  left: 50%;
  transform: translate(-50%, 0%);
}
.align-center-y{
  top: 50%;
  transform: translate(0%, -50%);
}
