<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Flaskr</h1>
  <!-- 
      g 在模板中自动可用。 根据 g.user 是否被设置（在 load_logged_in_user 中进行），要么显示 用户名和注销连接，要么显示注册和登录连接。 
      
      url_for() 也是自动可用的，可用于生成视图的 URL ，而不用手动来指定。

      在标题下面，正文内容前面，模板会循环显示 get_flashed_messages() 返回 的每个消息。在视图中使用 flash() 来处理出错信息，在模板中就可以这样 显示出出来。

      模板中定义三个块，这些块会被其他模板重载。

      【% block title %】 会改变显示在浏览器标签和窗口中的标题。

      【% block header %】 类似于 title ，但是会改变页面的标题。

      【% block content %】 是每个页面的具体内容，如登录表单或者博客帖子。

      其他模板直接放在 templates 文件夹内。为了更好地管理文件，属于某个蓝图 的模板会被放在与蓝图同名的文件夹内。





      验证视图和模板已经可用了，但是看上去很朴素。可以使用一些 CSS 给 HTML 添加点样式。样式不会改变，所以应当使用 静态文件 ，而不是模板。

      Flask 自动添加一个 static 视图，视图使用相对于 flaskr/static 的相对路径。 base.html 模板已经使用了一个 style.css 文件连接：

      url_for('static', filename='style.css')

      除了 CSS ，其他类型的静态文件可以是 JavaScript 函数文件或者 logo 图片。它们 都放置于 flaskr/static 文件夹中，并使用 url_for('static', filename='...') 引用。
   -->
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>